
body{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}
.header{
    background-color:grey;
    min-height: 50px;
}
.p-15{
    padding: 25px 15px;
}
.m-top-15{
    margin-top: 15px;
}
.icon{
    margin-right: 5px;
}
.btn{
    font-size: 12px !important;
    font-weight: bold !important;
}
.btn-radius25{
    border-radius: 100px !important;
    min-width: 95px;
}
.top-wrapper{
    background-color: #e0e0e0;
    min-height: 50px;
    color: black;
    padding: 10px 15px;
}

.top-wrapper a{
    color: #252525;
    font-weight: bold;
    font-size: 12px;
    margin-right: 12px;
}

.banner{
    min-height: 500px;
    background-color: red;
    display: block;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper .bg-secondary {
    background-color:#ffffff !important;
}

.wrapper .bg-outline {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}
.wrapper .bg-primary {
    background-color:#D3111A !important;
}

.banner-btm{
    padding: 20px 0;
    color: white;
}
.font-bold{
    font-weight: bold;
}
.text-3{
    font-size: 22px;
}

.navbar-dark .navbar-nav .nav-link{
    color:black !important;
    font-size: 13px;
    font-weight: bold;
}


.navbar-dark .navbar-brand{
    color:#D3111A !important;
    font-weight: bold;
}
.btn-primary{
    background-color:#D3111A !important;
    border-color: #D3111A !important
}
/* my css style */
.text_color{
    color: #E31E25;
}

.btn_borderwhite{
    background-color:#ffffff;
    border-color: #D3111A;
    color:  #E31E25; 
}
.fa_size{
    font-size: 1px;
}

.im{
height: auto;
width: 100%;
}

.card {
    
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.button {
  background-color: #E31E25; /* Green */
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
}
.button5 {border-radius: 50%;}
.btn-get-started {
font-size: 18px;
letter-spacing: 1px;
display: inline-block;
padding: 8px 32px;
border-radius: 45px;
transition: 0.5s;
margin: 10px;
color: #fff;
background: #E31E25;
}

.a {
  position: relative;
 /* text-align: center; */
   /*color: white;*/
}

.b{
  position: absolute;
  top: 280px;
  right: 16px;
}
#bbtn:hover {
color:#ffffff;
}

.bbanner-btm{
    padding: 15px 0;
    color: white;
}
.bbg-primary {
    background-color: #E31E25;
}
.checked {
  color: #E31E25;
  
}
.unchecked{
color:white;
}
.paragraph{
    margin-top: 0;
    margin-bottom: 0.1rem;
}
.aa {
  position: relative;
 /* text-align: center; */
   /*color: white;*/
}

.bb{
  position: absolute;
  top:85%;
  right: 6%;
}